.payment {
  // background-color: #fff;
  height: 100vh;
  color: #fff;
  &-element {
    margin-bottom: 20px;
  }
  &-modal {
    margin-top: 120px;
    display: flex;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
  }
}
.form-group {
  margin: 0 40px;
  a {
    color: white;
  }
  // a:hover {
  //     color: white;
  // }
}
.text-success {
  margin-top: 120px;
  text-align: center;
}
