@use "../../scss/" as *;

.movie-card {
  width: 172px;
  height: 271px;
  margin: 0 15px;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  // border-radius: $border-radius;
  border-radius: 15px;
  margin-bottom: 1rem;

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
 h3{
    margin-top: 8px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background-color: $black;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
    // border-radius: $border-radius;
    border-radius: 15px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: 0.8;
    }

    &:hover .btn {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
