.link {
}
.logo {
  font-size: 2rem;
  font-weight: 900;
  img {
    width: 112px;
    height: 140px;
    object-fit: cover;
  }
}
.main-color {
  color: #c0392b;
}
.navbar {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  // background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3), 50%);
  background-color: transparent;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  &.scrolled {
    background-color: var(--main-color);
  }
  .container {
    padding: 0px 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 25px;
    }
    .left {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        li {
          color: white;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;;
          padding: 5px;
          position: relative;
          margin-right: 20px;
          font-size: 14px;
          cursor: pointer;

          /* &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            transition: width 0.5s ease;
            height: 2px;
            background-color: #ff0000;
          }
 */
          &.active
           {
            background-color: #ff0000;
            border-radius: 5px;
            padding: 10px 10px;
          }

          &:hover {
            background-color: rgba($color: #cd3131, $alpha: 0.1);
            border-radius: 5px;
            padding: 10px 10px;
          }
        }
      }
      img {
        margin-right: 40px;
        width: 112px;
        height: 100%;
        object-fit: cover;
        display: flex;
      }
      span {
      }
    }
    .right {
      display: flex;
      align-items: center;
      .wallet {
        display: flex;
        align-items: center;
        &_add_money {
          color: #60e0af;
          cursor: pointer;
        }
        &_point {
          margin: 0 20px;
        }
        b {
          color: white;
        }
        span {
          color: #60e0af;
        }
      }
      .icon {
        margin: 0 15px;
        cursor: pointer;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          transition: all o.2s ease-in-out;
        }
        li {
          padding: 16px;
          cursor: pointer;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            transition: all o.2s ease-in-out;
          }
        }
      }
    }
  }
}
