.my-list {
  margin-top: 120px;
  padding: 0 50px;
  h3 {
    color: #fff;
  }
  &__container {
    display: flex;
    flex-direction: column;
    &__item {
      color: white;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #fff;
      justify-content: space-between;
      &:hover {
        // background-color: #8f8a8a;
        background-color: #262424;
      }
      &__info {
        color: white;

        span {
          display: inline-block;
          width: 100px;
          text-align: center;
        }
      }
    }
    &__buttons {
      display: flex;
      &-trailer,
      &-by {
        margin-right: 10px;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 15px;
        background-color: #3898ec;
        color: #fff;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
      }
      &-by {
        border-radius: 5px;
        background-color: #e46466;
      }
    }
  }
}
